{% extends 'template.html' %}
{% block content %}
    <div class="page_border">
      <div class="page_image">
      </div>
      <div class="page_content">
        <div class="page_content_inner clearfix">
          <div class="halp_content">
            <h2 class="item_title">최근 접수 의안</h2>
            <ol class="nav nav-pills nav-stacked">
              {% for i in range(acceptItems|length) %}
                {% if i == 0 %}
                  <li role="presentation"><a href="#" class="btn btn-list list-first ellipsize">{{i+1}}. {{ acceptItems[i].billName }}</a></li>
                {% elif i == 1 %}
                  <li role="presentation"><a href="#" class="btn btn-list list-second ellipsize">{{i+1}}. {{ acceptItems[i].billName }}</a></li>
                {% elif i == 2 %}
                  <li role="presentation"><a href="#" class="btn btn-list list-third ellipsize">{{i+1}}. {{ acceptItems[i].billName }}</a></li>
                {% else %}
                  <li role="presentation"><a href="#" class="btn btn-list ellipsize">{{i+1}}. {{ acceptItems[i].billName }}</a></li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>
          <div class="halp_content">
            <h2 class="item_title">최근 통과 의안</h2>
            <ol class="nav nav-pills nav-stacked">
              {% for i in range(passItems|length) %}
                {% if i == 0 %}
                  <li role="presentation"><a href="#" class="btn btn-list list-first ellipsize">{{i+1}}. {{ passItems[i].billName }}</a></li>
                {% elif i == 1 %}
                  <li role="presentation"><a href="#" class="btn btn-list list-second ellipsize">{{i+1}}. {{ passItems[i].billName }}</a></li>
                {% elif i == 2 %}
                  <li role="presentation"><a href="#" class="btn btn-list list-third ellipsize">{{i+1}}. {{ passItems[i].billName }}</a></li>
                {% else %}
                  <li role="presentation"><a href="#" class="btn btn-list ellipsize">{{i+1}}. {{ passItems[i].billName }}</a></li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
