{% extends 'template.html' %}
{% block content %}
<div class="page_border">
  <div class="page_image">
  </div>
  <div class="page_content">
    <div class="page_content_inner">
      <h2 class="item_title">의원 목록</h2>
      <ul class="people_list clearfix">
        {% for congressman in congressmanList %}
        <li class="people_item">
          <a href="/congressman/detail/{{ congressman.empNm }}" class="people_link">
            <img src="{{ congressman.jpgLink }}" alt="" width="118" height="170">
            <span class="people_name">{{ congressman.empNm }}</span>
              <span class="people_hj_name">({{ congressman.hjNm }})</span><br />
              <span class="people_en_name">{{ congressman.engNm }}</span><br />
              <span class="people_reeleGbnNm">{{ congressman.reeleGbnNm }}</span><br /><br />
              <span class="people_area">{{ congressman.origNm }}</span><br />
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
      <div style="text-align: center;">
          <ul class="pagination page_content">
            {% for i in range(numOfPages) %}
                {% if curPage == i + 1 %}
                    <li class="active"><a href="/congressman/{{ i + 1 }}">{{ i + 1 }}</a></li>
                {% else %}
                    <li><a href="/congressman/{{ i + 1 }}">{{ i + 1 }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
      </div>
  </div>
</div>
{% endblock %}
