{% extends 'template.html' %}
{% block content %}
    <div class="page_border">
        <div class="page_image">
        </div>
{#        <div>#}
{#            <li>#}
{#                {{ item.empNm }}#}
{#                {{ item.engNm }}#}
{#                {{ item.hjNm }}#}
{#                {{ item.jpgLink }}#}
{#                {{ item.origNm }}#}
{#            </li>#}
{#        </div>#}
        <div class="page_content">
            <div class="page_content_inner">
                <div class="people_thumb"><img src="{{ congressmanPicture }}" alt="" width="180" height="240"></div>
                <h2 class="item_title">{{ congressmanDetailInfo['empNm'] }}</h2>
                <ul class="item_content_list">
                    <li class="item_content">
                        <h3 class="item_content_label">기본 정보</h3>
                        <dl>
                            <dt class="sub_content_label">출생</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['bthDate'][0:4] }}-{{ congressmanDetailInfo['bthDate'][4:6] }}-{{ congressmanDetailInfo['bthDate'][6:] }}</dd>
                            <dt class="sub_content_label">정당</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['polyNm'] }}</dd>
                            <dt class="sub_content_label">선거구</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['origNm'] }}</dd>
                            <dt class="sub_content_label">소속위원회</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['sharNm'] }}</dd>
                            <dt class="sub_content_label">당선횟수</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['reeleGbnNm'][0:2] }} ({{ congressmanDetailInfo['electionNum']}})</dd>
                            <dt class="sub_content_label">사무실전화</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['assemTel'] }}</dd>
                            <dt class="sub_content_label">홈페이지</dt>
                            <dd class="sub_content"><a href="{{ congressmanDetailInfo['assemHomep'] }}">{{ congressmanDetailInfo['assemHomep'] }}</a></dd>
                            <dt class="sub_content_label">이메일</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['assemEmail'] }}</dd>
                            <dt class="sub_content_label">보좌관</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['staff'] }}</dd>
                            <dt class="sub_content_label">비서관</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['secretary2'] }}</dd>
                            <dt class="sub_content_label">비서</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['secretary'] }}</dd>
                            <dt class="sub_content_label">취미, 특기</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['hbbyCd'] }}</dd>
                            <dd class="sub_content">{{ congressmanDetailInfo['examCd'] }}</dd>
                            <dt class="sub_content_label">약력</dt>
                            <dd class="sub_content">{{ congressmanDetailInfo['memTitle'] }}</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
