<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>국.대.전</title>
</head>
<body>
  <div class="wrap">
    <header class="cd-header">
      <div class="cd-logo">
        <h1><a href="/">국회 대신 전해드립니다</a></h1>
      </div>
      <div class="custom-search-input-container">
      <div class="custom-search-input">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" />
          <span class="input-group-btn">
              <button class="btn btn-info" type="button">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
        </div>
      </div>
    </div>
      <nav>
        <ul class="cd-secondary-nav">
            <li>
                <a href="/congressman/1">의원정보</a>
            </li>
          <li>
            <a href="/">About</a>
          </li>
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
