.cd-header {
  min-width: 950px;
}

.page_border{
    margin: 100px auto;
    width: 950px;
}

.page_image{
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
    margin: 50px;
    height: 400px;
}

.page_content{
    margin-bottom: 100px;
    padding: 0px 50px;
}

.content_group{
    padding: 10px 0px;
}

.content_box{
    background-color: white;
    border-radius: 5px;
    margin: 15px 0px;
    padding: 10px;
}

.page_content_inner{
    // height: 500px;
    background-color : #eee;
    padding: 10px 10px 0;
    border-radius: 10px;
    border: 1px solid $color-primary-gray;
    margin-bottom: 20px;

    .item_title {
      text-align: center;
      font-size: 24px;
      padding: 20px;
      border-bottom: 1px solid $color-primary-gray;
    }

    .item_content {
      margin: 10px;
      &_label {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
      }
      .sub_content_label {
        padding: 10px;
        float: left;
        width: 200px;
      }
      .sub_content {
        padding: 10px 0;
        margin-left: 200px;
      }
      .sub_content_text {
        overflow: hidden;
      }
    }

    .btn-list {
      background-color: #7ab800;
      color: #fff;
      margin-bottom: 10px;
      text-align: left;
      &:hover {
        background-color: #629300;
      }
    }
    .btn-list.list-first {
      background-color: #ce1126;
      font-size: 2.5em;
      &:hover {
        background-color: #ae1126;
      }
    }
    .btn-list.list-second {
      background-color: #dc5034;
      font-size: 2em;
      &:hover {
        background-color: #bc5034;
      }
    }
    .btn-list.list-third {
      background-color: #feaf00;
      font-size: 1.5em;
      &:hover {
        background-color: #deaf00;
      }
    }
    .people_list {
      text-align: center;
      .people_item {
        float: left;
        margin: 10px;
      }
      .people_link {
        color: $color-primary-dark-gray;
        &:hover {
          color: #000;
          font-weight: bold;
        }
      }
      .people_name {
        display: block;
      }
    }
}

.notice_mail{
    color: white;
    margin-bottom: 20px;
}

.custom-search-input-container {
  padding: 2px;
  width: 400px;
  margin: 0 auto;
}

.custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

.custom-search-input input{
    border: 0;
    box-shadow: none;
}

.custom-search-input button{
    margin: 0 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 4px 8px;
    border-left: solid 1px #ccc;
}

.custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.custom-search-input .glyphicon-search{
    font-size: 23px;
}
